
/* ===========================================
 * Variables for components and more
 * =========================================== */

/* Exports
 * source:
 * [1] foundation.zurb.com
 * [2] Twitter bootstrap
 * ==================================== */


/* Colors
 * ==================================== */

// Same old naming conventions

$primary-color: #00558b !default;
$secondary-color: #f1f1f1 !default;
$alert-color: #F04124 !default;
$info-color: #A0D3E8 !default;
$success-color: #43AC6A !default;
$warning-color: #F08A24 !default;
$dark-color: #232323 !default;
$gray: #dfdfdf !default;
$gray-dark: darken($gray, 8) !default;
$gray-light: lighten($gray, 8) !default;


/* Grids
 * ==================================== */

$grid-class-name: 'col' !default;
$grid-columns: 12 !default;
$grid-gutter: 20px !default;
$grid-one-col: (100 / $grid-columns) * 1% !default;
$grid-row-min-height: 1px !default;

$max-screen-width: rem(1400px) !default;

$bp-screen-size: (

	bp-xs-screen: 'xs',
	bp-sm-screen: 'sm',
	bp-md-screen: 'md',
	bp-lg-screen: 'lg'
);

// default Breakpoints, but remember that you are advised to add more when content breaks
$bp-xs-screen: 480px !default;
$bp-sm-screen: 768px !default;
$bp-md-screen: 992px !default;
$bp-lg-screen: 1200px !default;


/* Font-size
 * ==================================== */

$base-font-family: sans-serif !default;
$base-font-size: 16px !default;
$base-line-height: 1.428571429 !default; // 20/14; [2]
$line-height-computed: floor(($base-font-size * $base-line-height)) !default; // [2]


/* Font-face names
 * ==================================== */

$open-sans-regular: 'Open-Sans-Regular';


/* Animations
 * ==================================== */

$animation-duration: .3s !default;
$animation-delay: 0s !default;
$animation-function: ease !default;
$animation-fill: both !default;
$animation-visibility: hidden !default;


/* Buttons
 * ==================================== */

// We use these to make sure border radius matches unless we want it different.
$global-padding: 1rem; // [1]
$button-padding: 0.85rem 1rem !default;
$button-margin: 0 $global-padding $global-padding 0 !default;
$button-style: solid !default;
$button-background: $primary-color !default;
$button-background-hover: scale-color($button-background, $lightness: -15%) !default;
$button-color: auto !default;
$button-radius: 0 !default;
$button-font-size: 0.9rem !default;
$button-opacity-disabled: 0.5 !default;
$button-tag-selector: false !default;
$button-sizes: (
  xs: 0.7,
  sm: 0.8,
  md: 1,
  lg: 1.3,
);


/* Forms
 * ==================================== */

// Label [1]
$form-label-fontsize: 0.9rem;
$form-label-margin: 0.5rem;
$form-label-color: #333;

// legend [2]
$legend-color: $gray-dark;
$legend-border-color: #e5e5e5 !default;


// inputs text [2]
$input-color: #000 !default;
$input-color-hover: $input-color !default;
$input-color-focus: $input-color !default;
$input-background: #fff !default;
$input-background-hover: $input-background !default;
$input-background-focus: $input-background !default;
$input-border: 1px solid #ccc !default;
$input-border-hover: 1px solid #bbb !default;
$input-border-focus: 1px solid #999 !default;
$input-cursor-disabled: not-allowed !default;
