
/* ===========================================
 * @mixin: Keyframes
 * =========================================== */

/* Source: https://gist.github.com/ericam/1607696
 * ==================================== */

@mixin keyframes($name) {
  // @-webkit-keyframes #{$name} {
  //   @content;
  // }
  // @-moz-keyframes #{$name} {
  //   @content;
  // }
  // @-ms-keyframes #{$name} {
  //   @content;
  // }
  // @-o-keyframes #{$name} {
  //   @content;
  // }
  @keyframes #{$name} {
    @content;
  }
}