
@include exports(animations-vendor-prefixes) {

	@-webkit-keyframes fadeIn {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	@-moz-keyframes fadeIn {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	@-ms-keyframes fadeIn {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	@-o-keyframes fadeIn {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@mixin fadeIn($animation-duration, $animation-delay, $animation-function, $animation-fill, $animation-visibility) {
	@include animation-name(fadeIn);
  @include duration($animation-duration);
	@include delay($animation-delay);
	@include function($animation-function);
	@include fill-mode($animation-fill);
	@include visibility($animation-visibility);
}
