
@include exports(animations-vendor-prefixes) {

	@-webkit-keyframes fadeOut {
		0% {opacity: 1;}
		100% {opacity: 0;}
	}

	@-moz-keyframes fadeOut {
		0% {opacity: 1;}
		100% {opacity: 0;}
	}

	@-ms-keyframes fadeOut {
		0% {opacity: 1;}
		100% {opacity: 0;}
	}

	@-o-keyframes fadeOut {
		0% {opacity: 1;}
		100% {opacity: 0;}
	}

}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@mixin fadeOut($animation-duration, $animation-delay, $animation-function, $animation-fill, $animation-visibility) {
	@include animation-name(fadeOut);
	@include duration($animation-duration);
	@include delay($animation-delay);
	@include function($animation-function);
	@include fill-mode($animation-fill);
	@include visibility($animation-visibility);
}
