
@include exports(animations-vendor-prefixes) {

    @-webkit-keyframes slideInDown {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    @-moz-keyframes slideInDown {
        0% {
            opacity: 0;
            -moz-transform: translateY(-2000px);
            transform: translateY(-2000px);
        }

        100% {
            -moz-transform: translateY(0);
            transform: translateY(0);
        }
    }

    @-ms-keyframes slideInDown {
        0% {
            opacity: 0;
            -ms-transform: translateY(-2000px);
            transform: translateY(-2000px);
        }

        100% {
            -ms-transform: translateY(0);
            transform: translateY(0);
        }
    }

    @-o-keyframes slideInDown {
        0% {
            opacity: 0;
            -o-transform: translateY(-2000px);
            transform: translateY(-2000px);
        }

        100% {
            -o-transform: translateY(0);
            transform: translateY(0);
        }
    }

}

@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }

    100% {
        transform: translateY(0);
    }
}

@mixin slideInDown($animation-duration, $animation-delay, $animation-function, $animation-fill, $animation-visibility) {
    @include animation-name(slideInDown);
    @include duration($animation-duration);
    @include delay($animation-delay);
    @include function($animation-function);
    @include fill-mode($animation-fill);
    @include visibility($animation-visibility);
}
