
/* ===========================================
 * Basic rules for video & more
 * =========================================== */

/*
 * [1] foundation.zurb.com
 * [2] Twitter bootstrap
 * [3] Inuit css framework
 * ==================================== */

// Embeds responsive [2]
//
// Credit: Nicolas Gallagher and SUIT CSS.

.embed-responsive { // On continer
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  iframe,
  embed,
  object {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }

  // Modify class for 16:9 aspect ratio
  &.embed-responsive-16by9 {
    padding-bottom: 56.25%;
  }

  // Modify class for 4:3 aspect ratio
  &.embed-responsive-4by3 {
    padding-bottom: 75%;
  }
}
